<div class="about-container">
    <div class="about-cover">
        <img class="about-cover-img" src="../../../assets/images/angular-cover.png" alt="Angular Cover">
    </div>

    <div class="about-content">
        <div class="about-title">
            <h1>Welcome to Buddgetly!</h1>
        </div>

        <div class="about-description">
            <p>
                Hello, my name is Hristina. I am a computer science and engineering
                student, currently enrolled in my final year of studies. <br>
                At the same time I am a part of the Academy for Programming at
                Seavus Education and Development Center and also working as a
                full time Ruby on Rails developer. <br>
                This is my first Angular project that I made as a part of
                the SEDC Academy for Programming.
            </p>
        </div>
    </div>

</div>