<div class="main-container">

    <div class="landing-container">
        <img class="landing-image" src="../../../assets/images/landing-background.png" alt="Landing Image">

        <div class="heading-title-container">
            <div class="content-container">
                <h1 class="heading-title">Your daily budget management tool.</h1>
                
                <div class="landing-actions">
                    <button mat-flat-button>
                        <span class="get-started-btn">Get Started</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>