/* You can add global styles to this file, and also import other style files */

$brand-green: #3aafa9;
$brand-dark: #2b7a78;
$brand-darker: #17252a;
$brand-light: #def2f1;
$brand-lighter: #feffff;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
